{% extends 'visuals/base.html' %}
{% load static %}

{% block title %}
    Visuals
    {% endblock %}

    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}
    {% block breadcrumb %}
    <li class="breadcrumb-item">{{ sym.symbol_name }} Visuals</a></li>
    {% endblock %}

    {% block content %}
    <div class="container">
        <canvas id="mychart" style="height:400px;width: content-box;"></canvas>
      </div>
   
<script>

// set default to straight lines - no curves
// Chart.defaults.global.elements.line.tension = 0;
// set default no fill beneath the line
Chart.defaults.global.elements.line.fill = false;

// stacked bar with 2 unstacked lines - nope
var barChartData = {
  newdata: ['2016n', '2017n', '2018n', '2019n'],
  labels: ['2016', '2017', '2018', '2019'],
  datasets: [{
    type: 'bar',
    label: 'a',
    id: "y-axis-0",
    backgroundColor: "rgba(217,83,79,0.75)",
    data: [1000, 2000, -4000, 5000]
  },{
    type: 'bar',
    label: 'a',
    id: "y-axis-0",
    backgroundColor: "rgb(128, 128, 0)",
    data: [100, 200, -400, 500]
  }, {
    type: 'bar',
    label: 'b',
    id: "y-axis-0",
    backgroundColor: "rgba(92,184,92,0.75)",
    data: [-500, -1600, 1700, -4800]
  }, {
    type: 'line',
    label: 'c',
    id: "y-axis-0",
    backgroundColor: "rgba(51,51,51,0.5)",
    data: [1500, 2600, 4700, 5800]
  }, {
    type: 'line',
    label: 'd',
    id: "y-axis-1",
    backgroundColor: "rgba(151,187,205,0.5)",
    data: [5000, 3000, 1000, 0]
  }]
};


var ctx = document.getElementById("mychart");
// allocate and initialize a chart
var ch = new Chart(ctx, {
  type: 'bar',
  data: barChartData,
  options: {
    title: {
      display: true,
      text: "Chart.js Bar Chart - Stacked"
    },
    tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                  label: function(tooltipItems, data) { 
                        return tooltipItems.yLabel + ' ' + data.newdata[tooltipItems.index];
                    }
                }
            },
    responsive: true,
    scales: {
      xAxes: [{
        stacked: true
      }],
      yAxes: [{
        stacked: true,
        position: "left",
        id: "y-axis-0",
      }, {
        stacked: false,
        position: "right",
        id: "y-axis-1",
      }]
    }
  }
});
  </script>
  {% endblock %}
    
  