{% extends 'visuals/base.html' %}
{% load static %}

{% block title %}
    Visuals
    {% endblock %}

    {% block javascript %}
   {% endblock %}
    {% block breadcrumb %}
    <li class="breadcrumb-item">{{ sym.symbol_name }} Visuals</a></li>
    {% endblock %}

    {% block content %}
    <div class="container">
        <canvas id="mychart" style="height:400px;width: content-box;"></canvas>
      </div>
  
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1"></script>
      <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        plugins: {
            zoom: {
                // Container for pan options
                pan: {
                    // Boolean to enable panning
                    enabled: true,

                    // Panning directions. Remove the appropriate direction to disable 
                    // Eg. 'y' would only allow panning in the y direction
                    mode: 'xy'
                },

                // Container for zoom options
                zoom: {
                    // Boolean to enable zooming
                    enabled: true,

                    // Zooming directions. Remove the appropriate direction to disable 
                    // Eg. 'y' would only allow zooming in the y direction
                    mode: 'xy',
                }
            }
        }
    }
});  
</script>
  {% endblock %}
    
  