{% extends 'visuals/base.html' %}
{% load static %}

{% block title %}
    Visuals
    {% endblock %}

    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}
    {% block breadcrumb %}
    <li class="breadcrumb-item">{{ sym.symbol_name }} Visuals</a></li>
    {% endblock %}

    {% block content %}
    <div class="container">
        <canvas id="mychart" style="height:400px;width: content-box;"></canvas>
      </div>
   
<script>

// set default to straight lines - no curves
// Chart.defaults.global.elements.line.tension = 0;
// set default no fill beneath the line
Chart.defaults.global.elements.line.fill = false;

// stacked bar with 2 unstacked lines - nope
var barChartData = {
  
  labels: {{ newsdate | safe }},
  datasets: [{
    type: 'bar',
    label: 'News Sentiment Score',
    id: "y-axis-0",
    backgroundColor: "rgba(217,83,79,0.75)",
    data: {{ news_score | safe }}
  }, {
    type: 'line',
    label: 'Close',
    id: "y-axis-0",
    //backgroundColor: 'rgba(255, 206, 86,  0.6)',
    borderColor: 'rgba(54, 162, 235, 1.0)',
    data: {{ org | safe }}
  }]
};


var ctx = document.getElementById("mychart");
// allocate and initialize a chart


var ch = new Chart(ctx, {
  type: 'bar',
  data: barChartData,
  options: {
    title: {
      display: true,
      text: "Soybean News Sentiment and Market"
    },elements: {
                    point:{
                        radius: 0
                    }
                },
    tooltips: {
                enabled: true,
                mode: 'label',
                callbacks: {
                  label: function(tooltipItems, data) { 
                        return tooltipItems.yLabel + ' '; // + data.newdata[tooltipItems.index]
                    }
                }
            },
    responsive: true,
    scales: {
      xAxes: [{
        stacked: true
      }],
      yAxes: [{
        stacked: true,
        position: "left",
        id: "y-axis-0",
      }, {
        stacked: false,
        position: "right",
        id: "y-axis-1",
      }]
    }
  },

  plugins: [{
      beforeDraw: function(c) {
         var data = c.data.datasets[0].data;
         for (let i in data) {
            let bar = c.data.datasets[0]._meta['0'].data[i]._model;
            if (data[i] > 0) {
               bar.backgroundColor = 'rgba(75, 192, 192, 1)';
            } else bar.backgroundColor = '#E82020';
         }
      }
   }]
});
  </script>
  {% endblock %}
    
  