{% extends 'maintain/base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Courses</li>
{% endblock %}

{% block content %}

{% if courses %}

<table class="table">
                        <thead class="thead-inverse">
                        <tr>
                        <th>Course</th>
                        <th>Course Type</th>
                        <th>Classroom</th>
                        <th>Software Notes</th>
                        <th>Posts</th>
                        <th>Requests</th>
                        <th>Last Request</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                 
                        {% for cou in courses %}
                             <tr>
                            <td>
                            <a href="{% url 'course_topics' cou.id %}">{{ cou.course_name }}</a><br>
                            <small class="text-muted d-block">{{ cou.course_code }}</small>
                            </td>
                            <td class="align-middle">{{ cou.course_type }}</td>
                            <td class="align-middle">
                              <a href="{% url 'classroom_detail' cou.id cou.course_clsroom.get.id %}">
                                {{ cou.course_clsroom.get.class_name }}
                              </a>
                              </td>
                            <td class="align-middle">{{ cou.course_notes }}</td>
                            <td class="align-middle">
                                {{ cou.get_posts_count }}
                              </td>
                              <td class="align-middle">
                                {{ cou.course_topics.count }}
                              </td>
                              <td class="align-middle">
                                {% with post=cou.get_last_post %}
                                {% if post %}
                                <small>
                                    <a href="{% url 'topic_posts' cou.pk post.post_topic.pk %}">
                                        By {{ post.post_created_by.username }} at {{ post.post_created_at }}
                                    </a>
                                  </small>
                                {% else %}
                                  <small class="text-muted">
                                    <em>No posts yet.</em>
                                  </small>
                                {% endif %}
                              {% endwith %}
                              </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 
    </table> 
    
    {% else %}

    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">No Courses!</h4>
      <p>Aww yeah, you successfully read this important alert message. </p>
      <hr>
      <p class="mb-0">Sorry, no courses exist for your login. Please contact <a href="mailto:soetech@groups.stthomas.edu?Subject=Hello%20again" target="_top">soetech@groups.stthomas.edu</a>.</p>
    </div>
    {% endif %}
    
    <br/>

    {% if courses %}
  <nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if courses.number > 1 %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">First</span>
        </li>
      {% endif %}

      {% if courses.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ courses.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}

      {% for page_num in courses.paginator.page_range %}
        {% if courses.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% elif page_num > courses.number|add:'-3' and page_num < courses.number|add:'3' %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if courses.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ courses.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}

      {% if courses.number != courses.paginator.num_pages %}
        <li class="page-item">
          <a class="page-link" href="?page={{ courses.paginator.num_pages }}">Last</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Last</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
<br/>
{% endblock %}