{% extends 'maintain/base.html' %}
{% load humanize %}
{% block title %}
  {{ cou.course_name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item active">{{ cou.course_name }}</li>
{% endblock %}

{% block content %}
<div class="container">
  <h2>{{ cou.course_name }} Course Details:</h2>
  <p>{{ cou.course_code }}</p>
  <div class="table-responsive-sm">           
      <table class="table table-condensed table-bordered">
      <thead>
          <tr>
          <th class="table-active">Property</th>
          <th class="table-active">Value</th>
          </tr>
      </thead>
      <tbody>
          <tr>
          <td style="font-weight:bold">Course Level:</td>
          <td>{{ cou.course_level }}</td>
          </tr>
          <tr>
          <td style="font-weight:bold">Software Previously Installed:</td>
          <td>{{ cou.course_notes }}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Campus Site:</td>
            <td>{{ cou.course_site }}</td>
            </tr>

            <tr>
              <td style="font-weight:bold">Scheduled Days and Time:</td>
              <td>Days: {{ cou.sch_days }} Time: {{ cou.sch_timeslot }}</td>
              </tr>
      </tbody>
      </table>
</div> 

<div class="mb-4">
    <a href="{% url 'course_update' cou.pk %}" class="btn btn-primary">New Request</a>
    <a href="{% url 'sware_results' %}" class="btn btn-primary">Check Available Softwares List</a>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td><a href="{% url 'topic_posts' cou.pk topic.pk %}">{{ topic.topic_subject }}</a></td>
          <td>{{ topic.topic_starter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.topic_views }}</td>
          <td>{{ topic.topic_last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if topics.has_other_pages %}
  <nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if topics.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ topics.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}

      {% for page_num in topics.paginator.page_range %}
        {% if topics.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if topics.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ topics.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>
<br/>
{% endblock %}