{% load static %}
{%  load form_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enter Text</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a class="text-white" href="#">Follow on Twitter</a></li>
                <li><a class="text-white" href="#">Like on Facebook</a></li>
                <li><a class="text-white" href="#">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a class="navbar-brand d-flex align-items-center" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20" height="20"><path d="M 23 19 a 2 2 0 0 1 -2 2 H 3 a 2 2 0 0 1 -2 -2 V 8 a 2 2 0 0 1 2 -2 h 4 l 2 -3 h 6 l 2 3 h 4 a 2 2 0 0 1 2 2 Z" /><circle cx="12" cy="13" r="4" /></svg>
            <strong>NSF Contextual Summarizer</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Input Your Abstract to Search SImilar Context Proposals</h1>

              <form method="post" class="mb-4" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success">Search Contexts</button>
          </form>
          <h5>{{ text }}</h5>
      
        
        </div>
      </section>

      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>NSF example is © NSFData</p>
      </div>
    </footer>
  </body>
</html>